.DS_Store
*.pyc
*.pyc
*.pyc
*.pyc
mail_lock.json
lock.json
node_modules/
front/node_modules/
res/
urls/
log/
user_history/


conf_html/
urls/
llm_names.json
new_authors.json

__pycache__/
all_authors.json
all_names.json
dblp.xml


# PyCharm 관련 파일 및 폴더 무시
.idea/
*.iml
workspace.xml
tasks.xml
usage.statistics.xml
datalore/
shelf/
.env
venv/

# Node modules
node_modules/

# Output of `next build`
.next/
out/

# Build output (if using `next export`)
build/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS-specific files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dependency directories
.pnp/
.pnp.js

# VSCode settings
*.code-workspace

# TypeScript
*.tsbuildinfo

# Optional: If using Turbo repo
turbo/

# Optional: If using vercel
.vercel/

# Optional: next telemetry
.next-tasks/

# Optional: Coverage reports
coverage/
